.overlay {
  display: flex;
  position:absolute;
  background:rgba(0,0,0,.8);
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.overlay .spinner-border {
  border-color: rgba(255,255,255,.25);
  border-right-color: #fff;
  width: 3rem;
  height: 3rem;
}

.overlay .loading-text {
  margin-bottom: 1rem;
  position: absolute;
  margin-top: 2.5rem;
  color: #fff;
}