.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2rem);
}
.season-display.summer {
  background-color: orange;
}
.season-display.winter {
  background-color: aliceblue;
}
.season-display .fa {
  position: absolute;
  font-size: 7rem;
}
.season-display .fa.icon-left {
  top: 2rem;
  left: 2rem;
}
.season-display .fa.icon-right {
  bottom: 2rem;
  right: 2rem;
}